@model Data_Layer.CustomModels.Chatcm;

<style>
    .chatList {
        list-style: none !important;
        width: fit-content !important;
        border: 1px solid #b4f3f3 !important;
        padding: 8px !important;
        border-radius: 12px !important;
        background-color: #d7fdfd !important;
        font-size: 17px !important;
        color: #373333 !important;
        margin-bottom: 5px;
        float: right;
    }

    .chatListProvider {
        list-style: none !important;
        width: fit-content !important;
        border: 1px solid #b4f3f3 !important;
        padding: 8px !important;
        border-radius: 12px !important;
        background-color: #d7fdfd !important;
        font-size: 17px !important;
        color: #373333 !important;
        margin-bottom: 5px;
    }

    .mainDiv {
        position: relative;
        width: 100%;
        display: flex;
        margin-bottom: 18px;
    }

    .mainDiv2 {
        position:relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom:18px;
    }

    .date{
        position: absolute;
        bottom: -9px;
        font-size: 9px;
    }
</style>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel" aria-modal="true" role="dialog">
    <div class="offcanvas-header bg-info text-white">
        <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">@Model.RecieverName</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column justify-content-between overflow-scroll position-relative" id="offcanvasScroller">
        
        <div class="">
            <div id="messagesList" class="" style="margin-bottom:62px;">
                @foreach(var item in Model.chats)
                {
                    if (item.SentBy == 1)
                    {
                        <div class="mainDiv2">
                            <span class="chatList">@item.Message</span>
                            <span class="date">@item.ChatDate.ToString("h:mm:ss tt")</span>
                        </div>
                    }

                    if (item.SentBy == 2)
                    {
                        <div class="mainDiv">
                            <span class="chatListProvider">@item.Message</span>
                            <span class="date">@item.ChatDate.ToString("h:mm:ss tt")</span>
                        </div>
                    }
                    if (item.SentBy == 3)
                    {
                        <div class="mainDiv">
                            <span class="chatListProvider">@item.Message</span>
                            <span class="date">@item.ChatDate.ToString("h:mm:ss tt")</span>
                        </div>
                    }

                }                
            </div>
        </div>
        <form method="post" id="chatForm" class="position-fixed bottom-0" style="width: -webkit-fill-available;">
        <div class="d-flex w-100">
           
                <input asp-for="RequestId" type="text" id="reqId" hidden/>
                <input asp-for="AdminId" type="text" id="adminId" hidden />
                <input asp-for="ProviderId" type="text" id="providerId" hidden />
                <input asp-for="SentBy" type="text" id="sentBy" value="1" hidden />
                <input asp-for="Flag" id="flag" type="text" hidden/>
            <div class="form-floating w-100">
                <input asp-for="Message" type="text" id="messageInput" class="form-control" placeholder="Username"
                       required>
                <label for="floatingInputGroup1"><span class="input">Type a message</span></label>

            </div>

            <button type="button" id="sendButton" value="Send Message" class="btn btn-info text-white"><i class="fa-regular fa-paper-plane"></i></button>
          
        </div>
        </form>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>


<script>

   

    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();


   // document.getElementById("sendButton").disabled = true;

    connection.on("ReceiveMessage", function (user, message) {


        // if (user == "provider") {
        //     var mainDiv = document.createElement("div");

        //     var li = document.createElement("span");
        //     var span = document.createElement("span");

        //     li.className = "chatListProvider";
        //     document.getElementById("messagesList").appendChild(mainDiv);
        //     mainDiv.appendChild(li);
        //     mainDiv.className = "mainDiv";
        //     span.textContent = new Date().toLocaleTimeString();
        //     span.className = "date";
        //     mainDiv.appendChild(span);
        // }

        // if (user == "patient") {
        //     var mainDiv = document.createElement("div");

        //     var li = document.createElement("span");
        //     var span = document.createElement("span");

        //     li.className = "chatListProvider";
        //     document.getElementById("messagesList").appendChild(mainDiv);
        //     mainDiv.appendChild(li);
        //     mainDiv.className = "mainDiv";
        //     span.textContent = new Date().toLocaleTimeString();
        //     span.className = "date";
        //     mainDiv.appendChild(span);
        // }
        // if(user=="admin") {
        //     var mainDiv = document.createElement("div");

        //     var span = document.createElement("span");
        //     var li = document.createElement("span");
        //     li.className = "chatList";
        //     document.getElementById("messagesList").appendChild(mainDiv);
        //     mainDiv.appendChild(li);
        //     mainDiv.className = "mainDiv2";
        //     span.textContent = new Date().toLocaleTimeString();
        //     span.className = "date";
        //     mainDiv.appendChild(span);
        // }


        // li.textContent = `${message}`;

        var requestId = $('#reqId').val();
        var adminId = $('#adminId').val();
        var providerId = $('#providerId').val();
        var flag = $('#flag').val();

        chatWithProvider(providerId, adminId, requestId, flag, 1)

    });

    connection.start().then(function () {
        //document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        //return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        //var user = document.getElementById("userInput").value;
       
        

        var RequestID = $('#reqId').val();
        var adminId = $('#adminId').val();
        var ProviderId = $('#providerId').val();
        var sentBy = $('#sentBy').val();
        var flag = $('#flag').val();

        var message = document.getElementById("messageInput").value;

        connection.invoke("SendMessage", "admin", message, RequestID, adminId, ProviderId, sentBy, flag).catch(function (err) {
            //return console.error(err.toString());
        });

        event.preventDefault();
        // $.ajax({
        //     method:"POST",
        //     url:"/Admin/PostChats",
        //     data: $('#chatForm').serialize(),
        //     success: function () {
        //         var message = document.getElementById("messageInput").value;

        //         connection.invoke("SendMessage", "admin", message).catch(function (err) {
        //             return console.error(err.toString());
        //         });
        //     }
        // });
    });


    document.getElementById("offcanvasScroller").scrollTop = document.getElementById("offcanvasScroller").scrollHeight;

</script>